<section id="projects">
  <div class="container center-align">
    <h4>
      <strong
        ><u><span style="font-weight: bold">Projects</span></u></strong
      >
    </h4>
    <div class="panel panel-default">
      <div class="panel-body">
	  
	  
        <h5>
          <i class="fab fa-github"></i>&nbsp;&nbsp;<strong
            ><a href="https://github.com/snaviatt/snaviatt-web"
              >Snaviatt-Smart Attendance Assistant</a
            ></strong
          >
          - Standalone Web Application written on <i>Django</i> to facilate
          attendance marking via Facial Recognition for colleges/schools. uses
          <a href="http://dlib.net/">dlib</a> and Python wrapper
          <a href="https://github.com/ageitgey/face_recognition"
            >face_recognition</a
          >
          for FR and extending it to extend all college/school ERP for fast and
          convinient AMS.
        </h5>


        <h5>
          <i class="fab fa-github"></i>&nbsp;&nbsp;<strong
            ><a
              href="https://github.com/SmTaUcM/Triple-X"
              >Triple-X C++ Console Game</a
            ></strong
          >
          - Part of Final Project Submission of
          <a href="https://www.udemy.com/course/unrealcourse/"
            >Unreal Engine C++ Developer: Learn C++ and Make Video Games Course</a
          >. 
		  <BR>
		  - Description: C++ Console based text game where you play the role of a hacker trying to break into a secret server with increasing difficulty.
		  <BR>
		  - What i learned:
        </h5>
		<div class="triplex">
			<img
			  src=" {{ site.baseurl }}img\projects\triplex/triplex.jpg"
			  class="responsive-img"
			  id="triplex"
			  alt="Triple-X C++ Console Game."
			/>
		</div>


        <h5>
          <i class="fab fa-youtube"></i>&nbsp;&nbsp;<strong
            ><a href="https://youtu.be/X_Rw3wrpf8o">FPV Radio Controlled Plane</a></strong
          >
          - Uses Raspberry Pi, 2.4GHz radio and 5GHz video telemetry to create and automated 'First-Person View' radio controlled aircraft.
        </h5>
		
		
      </div>
    </div>
  </div>
</section>
