<section id="projects">

	<style>
		* {
		  box-sizing: border-box;
		}
		.column {
		  float: left;
		  width: 50.00%;
		  padding: 5px;
		}

		/* Clearfix (clear floats) */
		.row::after {
		  content: "";
		  clear: both;
		  display: table;
		}
	</style>

  <div class="container center-align">
    <h4>
      <strong><u><span style="font-weight: bold">Projects</span></u></strong>
    </h4>
    <div class="panel panel-default">
      <div class="panel-body">
	  
	  
	  <h5>
		<BR>
          <i class="fab fa-github"></i>&nbsp;&nbsp;
          Please feel free to visit my <b><a href="https://github.com/SmTaUcM">GitHub</a></b> page to view my full collection of repositories.
		  <BR><BR>
	  </h5>
	  
	  
	  <h5>
          <i class="fab fa-github"></i>&nbsp;&nbsp;
		  <strong><b><a href="https://github.com/SmTaUcM/TTT3">TIE Corps Tailoring Tool 3</a></b></strong>
		  - A 3D graphical rendering tool produced in <a href="https://www.python.org/">Python</a> to read <a href="https://www.php.net/">PHP</a> 
		  in from a website, parse the data into XML format and then dynamically launch <a href="http://www.povray.org/">POV-Ray</a> 
		  to render a high-quality ray-traced jpeg image.
          <BR>
		  <b>- Description:</b> As a member of an online sci-fi video gaming club, members took on the alias of naval officers. 
		  A requirement of being a member included the creation of a uniform consisting of rank, position, squadron patch and medals. 
		  The club's existing tool was old, out of date and required maintenance. It was also compiled with no available source code. 
		  Using <a href="https://www.python.org/">Python</a>, <a href="https://www.qt.io/">Qt</a> and <a href="http://www.povray.org/">POV-Ray</a> 
		  I recreated the tool from scratch, implemented existing functionality and added enhanced features.
		  <BR>
		  <b>- What I Learned:</b> I learned how to request and parse <a href="https://www.php.net/">PHP</a> retuned web data. 
		  I enhanced my <a href="https://www.qt.io/">Qt</a> skills and learned how to make attractive GUIs utilising CSS Stylesheets. 
		  I learned how to parse data into an XML format ready for 3D rendering. The software then interrogates a Windows operating system 
		  in order to find the version and location of <a href="http://www.povray.org/">POV-Ray</a> , 
		  execute <a href="http://www.povray.org/">POV-Ray</a> and extract a 3D ray-traced jpeg image. 
        </h5>
		<div class="row">
			<div class="column">
				<img
				  src=" {{ site.baseurl }}img/projects/ttt3/ttt3_1.jpg"
				  class="responsive-img"
				  id="ttt3_1"
				  alt="TIE Corps Tailoring Tool 3 Landing Page."
				/>
			</div>
			<div class="column">
				<img
				  src=" {{ site.baseurl }}img/projects/ttt3/ttt3_2.jpg"
				  class="responsive-img"
				  id="ttt3_2"
				  alt="TIE Corps Tailoring Tool 3 Options Page."
				/>
			</div>
		</div>
		<div class="dress">
			<img
			  src=" {{ site.baseurl }}img/projects/ttt3/dress.png"
			  class="responsive-img center-block"
			  id="dress"
			  alt="TIE Corps Tailoring Tool 3 Final Output Image."
			/>
		</div>
		<BR><BR>
		
		
		
		<h5>
          <i class="fab fa-github"></i>&nbsp;&nbsp;
		  <strong><b><a href="https://github.com/SmTaUcM/PBApro_IDE_Emulator">PBA.Pro Python IDE Emulation</a></b></strong>
		  - A <a href="https://www.python.org/">Python</a> wrapper module to allow <a href="https://www.python.org/">Python</a> 
		  scripting of bespoke <a href="https://www.aim-online.com/">PBA.Pro</a> class objects in any IDE.
          <BR>
		  <b>- Description:</b> <a href="https://www.aim-online.com/">PBA.Pro</a> is bespoke databus analysis software that features 
		  <a href="https://www.python.org/">Python</a> scripting. The software itself features a built in IDE but is extremely rudimentary 
		  and is similar to programming in notepad. To aid my team in being able to script for this software utilising any off the shelf 
		  <a href="https://www.python.org/">Python</a> IDE, I created this wrapper class to emulate all 
		  <a href="https://www.aim-online.com/">PBA.Pro</a> script functionality and include features such as intellisense. 
		  This module allows users to run their <a href="https://www.aim-online.com/">PBA.Pro</a> scripts within their IDE of choice 
		  allowing them to spot errors quickly and have full docstring intellisense. The module also features persistent object creation, 
		  meaning that an object can be created multiple times while maintaining its attributes.
		  <BR>
		  <b>- What I Learned:</b> In this project I learned how to process and parse XML data into a 
		  <a href="https://www.python.org/">Python</a> runtime, persistently store information pending it’s request and make a 
		  valuable <a href="https://www.python.org/">Python</a> module.
        </h5>
		<div class="pbaemu_1">
			<img
			  src=" {{ site.baseurl }}img/projects/pbaemu/pbaemu_1.jpg"
			  class="responsive-img"
			  id="pbaemu_1"
			  alt="PBA.Pro IDE Emulator."
			/>
		</div>
		<div class="pbaemu_2">
			<img
			  src=" {{ site.baseurl }}img/projects/pbaemu/pbaemu_2.jpg"
			  class="responsive-img"
			  id="pbaemu_2"
			  alt="PBA.Pro IDE Emulator."
			/>
		</div>
		<BR><BR>
	  
	  
	    <h5>
          <i class="fab fa-github"></i>&nbsp;&nbsp;
		  <strong><b>Aircraft Transponder Code Loader</b></strong>
		  - Graphical <a href="https://www.python.org/">Python</a> application used in conjunction  with Mil-Std 1910 and 1553 
		  protocols to load data to an aircraft transponder.
          <BR>
		  <b>- Description:</b> Taking advantage of <a href="https://www.aim-online.com/">PBA.Pro</a> bus analysis software, this program utilises
		  <a href="https://www.python.org/">Python</a> and <a href="https://www.qt.io/">Qt</a> to manipulate a 3910/1553 aircraft data bus to load
		  data. The program will retrieve the current data on-board, perform analysis of the data to ensure it's correct, and if it's not, ask the 
		  user to load correct data after which a final data check is performed.
		  <BR>
		  <b>- What I Learned:</b> In this project I learned how to manipulate  aircraft data bus architecture to become a dynamic bus controller.
		  I learned how to directly manipulate binary and hexadecimal data using <a href="https://www.python.org/">Python</a> as well as 
		  performing checksum calculations. I leard how to create and read data from a database.
        </h5>
		<div class="row">
			<div class="column">
				<img
				  src=" {{ site.baseurl }}img/projects/xpdr/xpdr_1.jpg"
				  class="responsive-img"
				  id="ttt3_1"
				  alt="Data To Be Loaded."
				/>
			</div>
			<div class="column">
				<img
				  src=" {{ site.baseurl }}img/projects/xpdr/xpdr_2.jpg"
				  class="responsive-img"
				  id="xpdr_2"
				  alt="Data Retrieved"
				/>
			</div>
		</div>
		<BR><BR>
	  
	  
        <h5>
          <i class="fab fa-github"></i>&nbsp;&nbsp;
		  <strong><b><a href="https://github.com/SmTaUcM/SSRT">SkyShadow's Rapid Reporting Tool</a></b></strong>
		  - Graphical Python application used for collecting information and generating reports for an online club.
          <BR>
		  <b>- Description:</b> A <a href="https://www.python.org/">Python</a> application featuring a 
		  <a href="https://www.qt.io/">Qt</a> based GUI used to scrape and parse HTML data from a live website and produce concise reports 
		  about club members.
		  <BR>
		  <b>- What I Learned:</b> In this project I learned more about applying CSS Stylesheets to a Qt GUI. I learned to read in and parse HTML
		  using the 'urlllib', 'BeautifulSoup' and 'soupsieve' Python modules. 
        </h5>
		<div class="ssrt">
			<img
			  src=" {{ site.baseurl }}img/projects/ssrt/ssrt.jpg"
			  class="responsive-img center-block"
			  id="ssrt"
			  alt="SkyShadow's Rapid Reporting Tool."
			/>
		</div>
		<BR><BR>


        <h5>
          <i class="fab fa-github"></i>&nbsp;&nbsp;
		  <strong><b><a href="https://github.com/SmTaUcM/Triple-X">Triple-X C++ Console Game</a></b></strong>
          - Part of Final Project Submission of <a href="https://www.udemy.com/course/unrealcourse/">
		  Unreal Engine C++ Developer: Learn C++ and Make Video Games Course</a>. 
		  <BR>
		  <b>- Description:</b> C++ Console based text game where you play the role of a hacker trying to break into a secret 
		  server with increasing difficulty.
		  <BR>
		  <b>- What I Learned:</b> In this project I learned the programming fundamentals of writing pure C++ code.
        </h5>
		<div class="triplex">
			<img
			  src=" {{ site.baseurl }}img/projects/triplex/triplex.jpg"
			  class="responsive-img center-block"
			  id="triplex"
			  alt="Triple-X C++ Console Game."
			/>
		</div>
		<BR><BR>


        <h5>
          <i class="fab fa-youtube"></i>&nbsp;&nbsp;
		  <strong><b><a href="https://youtu.be/X_Rw3wrpf8o">FPV Radio Controlled Plane</a></b></strong>
          - Uses Raspberry Pi, 2.4GHz radio and 5GHz video telemetry to create and automated 'First-Person View' radio controlled aircraft.
        </h5>
		<BR><BR>
		
		
      </div>
    </div>
  </div>
</section>
