<section id="projects">

<style>
* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}
</style>

  <div class="container center-align">
    <h4>
      <strong><u><span style="font-weight: bold">Projects</span></u></strong>
    </h4>
    <div class="panel panel-default">
      <div class="panel-body">
	  
	  
	  <h5>
	      <BR>
          <i class="fab fa-github"></i>&nbsp;&nbsp;
          Please feel free to visit my <a href="https://github.com/SmTaUcM">GitHub</a> page to view my full collection of repositories.
        </h5>
	  
	  
	  
	  <h5>
          <i class="fab fa-github"></i>&nbsp;&nbsp;
		  <strong><b><a href="https://github.com/SmTaUcM/TTT3">TIE Corps Tailoring Tool 3</a></b></strong>
		  - A 3D graphical rendering tool produced in <a href="https://www.python.org/">Python</a> to read <a href="https://www.php.net/">PHP</a> 
		  from a website, parse the data into an XML format and then dynamically launch the <a href="http://www.povray.org/">POV-Ray</a> 
		  3D tool and render a high-quality ray-traced jpeg image.
          <BR>
		  <b>- Description:</b> As a member of an online sci-fi video gaming club, members took on the alias of naval officers. 
		  As a part of being within the club required the creating of a uniform consisting of rank, position, squadron patch and medals. 
		  The club's existing tool was old, out of date and required maintenance. It was also compiled with no available source code. 
		  Using <a href="https://www.python.org/">Python</a>, <a href="https://www.qt.io/">Qt</a> and <a href="http://www.povray.org/">POV-Ray</a> 
		  I recreated the tool from scratch, implemented existing functionality and added enhanced features.
		  <BR>
		  <b>- What I Learned:</b> I learned how to request and parse <a href="https://www.php.net/">PHP</a> retuned web data. 
		  I enhanced my <a href="https://www.qt.io/">Qt</a> skills and learned how to make attractive GUIs utilising CSS Stylesheets. 
		  I learned how to parse data into an XML format then interrogate a Windows operating system in order to find the version and 
		  location of <a href="http://www.povray.org/">POV-Ray</a> , execute <a href="http://www.povray.org/">POV-Ray</a> and extract 
		  a 3D ray-traced jpeg image. 
        </h5>
		<div class="row">
			<div class="column">
				<img
				  src=" {{ site.baseurl }}img/projects/ttt3/ttt3_1.jpg"
				  class="responsive-img"
				  id="ttt3_1"
				  alt="TIE Corps Tailoring Tool 3 Landing Page."
				/>
			</div>
			<div class="column">
				<img
				  src=" {{ site.baseurl }}img/projects/ttt3/ttt3_2.jpg"
				  class="responsive-img"
				  id="ttt3_2"
				  alt="TIE Corps Tailoring Tool 3 Options Page."
				/>
			</div>
			<div class="column">
				<img
				  src=" {{ site.baseurl }}img/projects/ttt3/dress.png"
				  class="responsive-img"
				  id="dress"
				  alt="TIE Corps Tailoring Tool 3 Final Output Image."
				/>
			</div>
		</div>
	  
	  
        <h5>
          <i class="fab fa-github"></i>&nbsp;&nbsp;
		  <strong><b><a href="https://github.com/SmTaUcM/SSRT">SkyShadow's Rapid Reporting Tool</a></b></strong>
		  - Graphical Python application used for collecting information and generating reports for an online club.
          <BR>
		  <b>- Description:</b> A <a href="https://www.python.org/">Python</a> application featuring a 
		  <a href="https://www.qt.io/">Qt</a> based GUI used to scrape and parse HTML data from a live website and produce concise reports 
		  about club members.
		  <BR>
		  <b>- What I Learned:</b> In this project I learned more about applying CSS Stylesheets to a Qt GUI. I learned to read in and parse HTML
		  using the 'urlllib', 'BeautifulSoup' and 'soupsieve' Python modules. 
        </h5>
		<div class="ssrt">
			<img
			  src=" {{ site.baseurl }}img/projects/ssrt/ssrt.jpg"
			  class="responsive-img center-block"
			  id="ssrt"
			  alt="SkyShadow's Rapid Reporting Tool."
			/>
		</div>


        <h5>
		  <BR>
          <i class="fab fa-github"></i>&nbsp;&nbsp;
		  <strong><b><a href="https://github.com/SmTaUcM/Triple-X">Triple-X C++ Console Game</a></b></strong>
          - Part of Final Project Submission of <a href="https://www.udemy.com/course/unrealcourse/">
		  Unreal Engine C++ Developer: Learn C++ and Make Video Games Course</a>. 
		  <BR>
		  <b>- Description:</b> C++ Console based text game where you play the role of a hacker trying to break into a secret 
		  server with increasing difficulty.
		  <BR>
		  <b>- What I Learned:</b> In this project I learned the programming fundamentals of writing pure C++ code.
        </h5>
		<div class="triplex">
			<img
			  src=" {{ site.baseurl }}img/projects/triplex/triplex.jpg"
			  class="responsive-img center-block"
			  id="triplex"
			  alt="Triple-X C++ Console Game."
			/>
		</div>


        <h5>
	      <BR>
          <i class="fab fa-youtube"></i>&nbsp;&nbsp;
		  <strong><b><a href="https://youtu.be/X_Rw3wrpf8o">FPV Radio Controlled Plane</a></b></strong>
          - Uses Raspberry Pi, 2.4GHz radio and 5GHz video telemetry to create and automated 'First-Person View' radio controlled aircraft.
        </h5>
		
		
      </div>
    </div>
  </div>
</section>
